---
import Button from "@/components/buttons/Button.astro";
const { email, cuponCode, expirationDate, aplicatedDate } = Astro.props;
const expirationDateFormatted = new Date(expirationDate).toLocaleDateString(
  "es-ES"
);
---

<tr class="text-center">
  <td>{email || "N/A"}</td>
  <td>{cuponCode || "N/A"}</td>
  <td>{expirationDate ? expirationDateFormatted : "N/A"}</td>
  <td>{aplicatedDate || "N/A"}</td>
  <td class="">
    {
      aplicatedDate ? (
        "Cupón validado"
      ) : cuponCode ? (
        <Button description={["Validar cupón"]} importance={["secondary"]} />
      ) : (
        <Button description={["Enviar cupón"]} importance={["primary"]} />
      )
    }
  </td>
  <td>
    <i
      class="fa-solid fa-trash text-primary text-2xl cursor-pointer hover:text-secondary"
    ></i>
  </td>
</tr>
