---
import Button from "@/components/buttons/Button.astro";
const { email, cuponCode, expirationDate, applicationDate, id } = Astro.props;
const expirationDateFormatted = new Date(expirationDate).toLocaleDateString(
  "es-ES"
);
const applicationDateFormatted = new Date(applicationDate).toLocaleDateString(
  "es-ES"
);
---

<tr class="text-center">
  <td>{email || "N/A"}</td>
  <td>{cuponCode || "N/A"}</td>
  <td>{expirationDate ? expirationDateFormatted : "N/A"}</td>
  <td>{applicationDate ? applicationDateFormatted : "N/A"}</td>
  <td class="">
    {
      applicationDate ? (
        "Cupón validado"
      ) : cuponCode ? (
        <Button description={["Validar cupón"]} importance={["secondary"]} />
      ) : (
        <Button description={["Enviar cupón"]} importance={["primary"]} />
      )
    }
  </td>
  <td>
    <i
      id="deleteIcon"
      class="fa-solid fa-trash text-primary text-2xl cursor-pointer hover:text-secondary"
      data-userCuponId={id}></i>
  </td>
</tr>

<script>
  import { deleteUsersCupon } from "@/js/handlers/handlerUsersCupons.js";

  // Esperar a que el documento esté completamente cargado
  document.addEventListener("DOMContentLoaded", function () {
    const deleteIcon = document.getElementById("deleteIcon");

    // Verificar si el icono de borrado existe
    if (deleteIcon) {
      deleteIcon.addEventListener("click", function () {
        const userCuponId = deleteIcon.getAttribute("data-userCuponId");

        // Verificar si userId y cuponId existen
        if (userCuponId) {
          deleteUsersCupon(userCuponId);
        } else {
          console.log("Failed to delete");
        }
      });
    }
  });
</script>
