---
import Button from "@/components/buttons/Button.astro";
const { email, couponCode, expirationDate, applicationDate, userCouponId } =
  Astro.props;
const expirationDateFormatted = new Date(expirationDate).toLocaleDateString(
  "es-ES"
);
const applicationDateFormatted = new Date(applicationDate).toLocaleDateString(
  "es-ES"
);
---

<tr class="text-center" id={userCouponId}>
  <td>{email || "N/A"}</td>
  <td>{couponCode || "N/A"}</td>
  <td>{expirationDate ? expirationDateFormatted : "N/A"}</td>
  <td>{applicationDate ? applicationDateFormatted : "N/A"}</td>
  <td class="">
    {
      applicationDate ? (
        "Cupón validado"
      ) : couponCode ? (
        <Button description="Validar cupón" importance="secondary" />
      ) : (
        <Button
          className={"send-coupon-btn"}
          params={userCouponId}
          description="Enviar cupón"
          importance="primary"
        />
      )
    }
  </td>
  <td>
    <i
      class="delete-user-coupon-btn fa-solid fa-trash text-primary text-2xl cursor-pointer hover:text-secondary"
      data-userCouponId={userCouponId}
    >
    </i>
  </td>
</tr>

<script>
  import {
    deleteUsersCoupon,
    sendCoupon,
  } from "@/js/handlers/handlerUsersCoupons.js";

  document.addEventListener("DOMContentLoaded", function () {
    const deleteIcons = document.querySelectorAll(".delete-user-coupon-btn");
    const sendButtons = document.querySelectorAll(".send-coupon-btn");

    deleteIcons.forEach((deleteIcon) => {
      deleteIcon.addEventListener("click", async function () {
        const userCouponId = deleteIcon.getAttribute("data-userCouponId");

        if (userCouponId) {
          try {
            await deleteUsersCoupon(userCouponId);
          } catch (error) {
            console.log("Failed to delete user-coupon association:", error);
          }
        } else {
          console.log("Failed to delete: userCouponId is undefined");
        }
      });
    });

    sendButtons.forEach((sendButton) => {
      sendButton.addEventListener("click", async function () {
        const userCouponId = sendButton.getAttribute("data-params");

        if (userCouponId) {
          try {
            await sendCoupon(userCouponId);
            location.reload();
          } catch (error) {
            console.log("Failed to send coupon:", error);
          }
        } else {
          console.log("Failed to send: userCouponId is undefined");
        }
      });
    });
  });
</script>
