<h1>Admin page</h1>
<button id="logout-button">Cerrar sesión</button>

<script>
  import { API_URL } from "../js/config";

  const token = localStorage.getItem("token");
  if (!token) {
    window.location.href = "/login";
  } else {
    // Verifica si el token es válido
    verifyToken(token).then((isValid) => {
      if (!isValid) {
        localStorage.removeItem("token");
        window.location.href = "/login";
      }
    });
  }

  const logoutButton = document.getElementById("logout-button");

  logoutButton.addEventListener("click", function () {
    localStorage.removeItem("token");
    window.location.href = "/login";
  });

  // Función para verificar un token JWT
  async function verifyToken(token) {
    try {
      // Realiza una solicitud al backend para verificar el token
      const response = await fetch(`${API_URL}/api/auth/verify-token`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ token }),
      });

      if (response.ok) {
        const result = await response.json();
        return result.isValid; // Retorna true si el token es válido
      } else {
        return false; // Retorna false si hay algún error en la verificación
      }
    } catch (error) {
      console.error("Error:", error);
      return false; // Retorna false si hay algún error en la verificación
    }
  }
</script>
