---
    const {email, cupon, expirationDate, aplicatedDate, Actions} = Astro.props
---

<tr>
    <th>{email}</th>
    <th>{cupon}</th>
    <th>{expirationDate}</th>
    <th>{aplicatedDate}</th>
    <th>{!Actions?(
        <button>Enviar cupón</button>
    ):(
        <button>Validr cupón</button>
    )}</th>
    <th><button>remove</button></th>
    <th><button>edit</button></th>
</tr>